body {
    background-color: #4c2e1c;
}
header {
    background-color: #61b65b;
}

main {
background-image: url(../Cafeteria/img/img/banner.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center center ;
}

.menu{
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão */
    display: flex; /* Exibe os itens da lista em linha */
}

.menu li {
    margin-right: 25px; /* Espaço entre os itens do menu */
}

.menu a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: rgb(255, 255, 255); /* Cor do texto */}